/* Resetear estilos y establecer fuente base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas */
}

/* Estilos para el texto con sombra */
.texto-con-sombra {
    font-family: Arial, sans-serif;
}

/* Estilos para el texto con sombra cuando el mouse está encima */
.texto-con-sombra.con-sombra {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.634);
}
