/* Resetear estilos y establecer fuente base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background-color: #05668d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #2180a5;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    background-color: #05668d;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas */
}

/* Estilos para el texto con sombra */
.texto-con-sombra {
    font-family: Arial, sans-serif;
}

/* Estilos para el texto con sombra cuando el mouse está encima */
.texto-con-sombra.con-sombra {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.634);
}

.columna {
    width: calc(85% / 4); /* Divide el espacio en 4 columnas */
    display: inline-block;
    vertical-align: top;
    margin: 25px; /* Aplica un margen automático en todos los lados */
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .columna {
        width: 100%; /* En pantallas pequeñas, ocupar todo el ancho */
    }
}

.columna2 {
    width: calc(80% / 3); /* Divide el espacio en 4 columnas */
    display: inline-block;
    vertical-align: top;
    margin: 45px; /* Aplica un margen automático en todos los lados */
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .columna2 {
        width: 100%; /* En pantallas pequeñas, ocupar todo el ancho */
    }
}

.columna3 {
    width: calc(80% / 4); /* Divide el espacio en 4 columnas */
    display: inline-block;
    vertical-align: top;
    margin: 35px; /* Aplica un margen automático en todos los lados */
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .columna2 {
        width: 100%; /* En pantallas pequeñas, ocupar todo el ancho */
    }
}

.card-img-top{
    padding: 8%;
}
.btn-azul {
    color: #fff;
    background-color: #2180a5;
    border-color: #2180a5;
}

.btn-azul:hover {
    background-color: #61b9db;
    border-color: #61b9db;}
/* Estilos para el encabezado */
.card-cam{
    align-items: center;
    align-content: center;
    text-align: center;
}

.title{
    color: #2180a5;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Estilos para el párrafo en la página "Nosotros" */
.nosotros-paragraph {
    margin: 20px auto;
    max-width: 800px;
    text-align: justify;
    line-height: 1.6;
}
.nosotros-section {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
}

.nosotros-section h2 {
    margin-bottom: 20px;
}

.nosotros-section ul {
    list-style: none;
    padding: 0;
}

.nosotros-section ul li {
    margin-bottom: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nosotros-section ul li:last-child {
    margin-bottom: 0;
    margin-right: 10px; /* Espacio entre elementos */
}

.nosotros-section ul li:last-child {
    margin-bottom: 0;
}
.equipo-member {
    margin-bottom: 50px;
}

.equipo-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.equipo-member h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.equipo-member p {
    margin-bottom: 20px;
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}

/* Estilos para el hover sobre el miembro del equipo */
.equipo-member:hover img {
    transform: scale(1.1);
}

.equipo-member:hover h3,
.equipo-member:hover p {
    color: #679436;
}

/* custom-variables.css */

/* Modifica el color primario */
:root {
    --bs-primary: #05668d; 
  }